* {
  margin: 0;
  padding: 0;
}

body {
  /* font-family: 'Bree Serif', serif; */
  font-family: 'Hind Siliguri', sans-serif;
  color: #333;
}

a {
  color: #333;
  text-decoration: none;
}

a:hover{
  color: #39B8AE;
}


/* SIDE POPUP */
#popup {
  position: fixed;
  z-index: 100;
  max-width: 40rem;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#popup-container {
  display: flex;
  align-items: center;
  position: relative;
  left: -36rem;
  transition: left 1s;
}

#popup-container:hover {
  left: 0rem;
}

.popup-main {
  background-color: rgba(213,192,85,0.9);
  color: white;
  padding: 5rem 1rem 5rem 2rem;
  font-family: 'Bree Serif', serif;
  font-size: 1.8rem;
  line-height: 2.3rem;
  display: flex;
  align-items: center;
  min-height: 5rem;
}

.popup-handle {
  background-color: rgba(213,192,85,0.9);
  padding: 0.5rem 0.5rem 0.5rem 1rem;
}



/* HEADER NAVIGATION */
header .desktop, .mobile {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  z-index: 5;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.95);
  padding-top: 0.4rem;
}

header img {
  width: 2.7rem;
}

header .logosection {
  display: flex;
  align-items: center;
  padding-left: 1rem;
  font-size: 1.6rem;
  text-transform: uppercase;
}

header .logosection span {
  font-weight: 700;
}

.menusection ul li {
  display: inline-block;
  padding-right: 1.1rem;
}

header .mobile{
  display: none;
}


/* MAIN BACKGROUND */
#mainbg {
  position: fixed;
  z-index: -1;
  height: 40rem;
  width: 100%;
  background-image: url("../images/banner.jpg");
  background-size: cover;
}


/* MAIN CONTAINER */
#maincontainer {
  position: relative;
  top: 3rem;
  margin: 0 auto;
  text-align: center;
}


/* HEADLINE SECTION */
#headline-container {
  height: 37rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.headline {
  background-color: rgba(35,57,91,0.85);
  color: white;
  max-width: 40rem;
  margin: auto 10%;
  padding: 1.5rem 1rem 2.5rem 1rem;
}

.headline h1 {
  font-family: 'Bree Serif', serif;
  font-size: 3rem;
  margin-bottom: 1.5rem;
}

.headline p {
  margin-bottom: 2rem;
  line-height: 1.6rem;
}

.headline a {
  background-color: #39B8AE;
  padding: 0.4rem 2rem;
  text-transform: uppercase;
  transition: all 1s;
}

.headline a:hover {
  color: white;
  background-color: #1A544F;

}


/* INFO SECTION */
#info {
  background-color: #2D3047;
  color: white;
  padding: 4rem 0rem;
}

#info-container {
  margin: 0 auto;
  max-width: 1100px;
  width: 90%;
  display: flex;
  align-items: flex-start;
}

.info-left {
  flex-shrink: 3;
}

.imgbox {
  position: relative;
}

.textcontent {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: column;
  text-align: center;
  transition: bottom 0.6s ease-out;
}

.textcontent:hover {
  bottom: 2rem;
}

.textcontent h2 {
  width: 100%;
  font-family: 'Bree Serif', serif;
  font-size: 2rem;
  background-color: rgba(19,62,58,0.8);
  padding: 1rem 0rem;
}

.imgbox img {
  width: 100%;
  display: block;
}

.info-left p {
  font-size: 1.2rem;
  margin-top: 1rem;
  color: #ccc;
  text-align: left;
}

.info-right {
  flex-shrink: 2;
  margin-left: 5%;
  width: 500px;
}

.info-detail-box {
  display: flex;
  align-items: center;
  background-color: rgba(255,255,255,0.05);
  border: 1px solid #666;
  margin-bottom: 1rem;
  text-align: left;
  filter: saturate(60%);
  transition: all 1s;
}

.info-detail-box:hover {
  filter: saturate(140%);
  background-color: rgba(255,255,255,0);
}

.info-detail-box img {
  width: 40%;
}

.detail-box-right {
  padding: 0 0.7rem;
}

.detail-box-right h3 {
  font-family: 'Bree Serif', serif;
  color: #D81E5B;
  font-size: 1.4rem;
  margin-bottom: 0.5rem;
}


/* LEARNING SECTION */
#learning {
  background-color: #D81E5B;
  color: white;
  padding: 4rem 0rem;
}

#learning-container {
  margin: 0 auto;
  max-width: 1200px;
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.learning {
  max-width: 20rem;
  min-width: 10rem;
  padding: 0.5rem;
  background-color: rgba(0,0,0,0.15);
  color: white;
  margin: 0.8rem 0.5rem;
}

.imgbox {
  position: relative;
}

.textcontent-learning {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  transition: bottom 0.6s ease-out;
}

.textcontent-learning:hover {
  bottom: 2rem;
  color: white;
}

.textcontent-learning h2 {
  font-family: 'Bree Serif', serif;
  font-size: 1.6rem;
  background-color: rgba(216,30,91,0.5);
  padding: 0.5rem 1rem;
}

#learning-container p {
  margin-top: 1rem;
}


/* FOOTER SECTION */
footer {
  padding: 2rem 1rem;
  background-color: #133E3A;
  color: #ccc;
}

#footer-container {
  margin: 0 auto;
  width: 90%;
  display: flex;justify-content: space-between;
  text-transform: uppercase;
}

.changecolor {
  fill: orange;
}







/* MOBILE */
@media only screen and (max-width:560px){
  header .desktop {
    display: none;
  }
  header .mobile{
    display: flex;
    justify-content: space-around;
  }
  header .mobile img {
    width: 1.9rem;
  }
  #mainbg {
    height: 30rem;
    background-position: center;
  }
  #headline-container {
    height: 27rem;
    align-items: flex-end;
  }
  .headline {
    margin: 0 auto;
  }
  .headline h1 {
    font-size: 2.4rem;
    margin-bottom: 1rem;
  }
  .headline a {
    font-size: 150%;
  }
  #info-container {
    margin: 0 auto;
    flex-wrap: wrap;
  }
  .info-right {
    margin-top: 4rem;
    margin-left: 0%;
  }
  .learning .imgbox img {
    display: none;
  }
  .learning {
    padding:  1rem 1.8rem;
    /* background-image: url("../images/thesis-now-and-then.jpg"); */
    transition: filter 1s;
  }
  .learning:hover {
    filter: saturate(190%);
  }
  .textcontent-learning {
    position: relative;
  }
  .textcontent-learning h2 {
    font-size: 2.3rem;
  }
  #popup-container {
    display: flex;
    align-items: center;
    position: relative;
    left: -27rem;
    transition: left 1s;
  }

}
